name: CI
on: [push]
permissions:
  contents: read
jobs:
  main:
    name: Yarn Commands
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set Node.js version
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'

      - name: Run install
        uses: borales/actions-yarn@3766bb1335b98fb13c60eaf358fe20811b730a88 #v5
        with:
          cmd: install

      - name: Format Check
        uses: borales/actions-yarn@3766bb1335b98fb13c60eaf358fe20811b730a88 #v5
        with:
          cmd: format:check
